body{

background:linear-gradient(135deg,#4e54c8,#8f94fb);

font-family:Arial,Helvetica,sans-serif;

}

.card{

border:none;

border-radius:20px;

overflow:hidden;

}

.card-header{

padding:25px;

}

.card-body{

background:white;

padding:30px;

}

.form-control,
.form-select{

height:50px;

border-radius:10px;

}

.btn{

padding:12px 30px;

border-radius:10px;

font-size:18px;

}

.btn:hover{

transform:scale(1.05);

transition:.3s;

}