body{

background:linear-gradient(135deg,#4e54c8,#8f94fb);

font-family:Arial;

}

.profile-card{

border:none;

border-radius:20px;

overflow:hidden;

box-shadow:0 15px 35px rgba(0,0,0,.3);

}

.card-header{

background:#0d6efd;

color:white;

text-align:center;

padding:20px;

}

.profile-img{

width:150px;

height:150px;

border-radius:50%;

border:5px solid #0d6efd;

object-fit:cover;

}

.form-control{

height:48px;

border-radius:10px;

}

textarea{

border-radius:10px !important;

}

.btn{

margin:5px;

border-radius:10px;

padding:10px 25px;

}